 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: lightpink;
        }

        @font-face {
      font-family: 'Tiempos Text';
      src: url('font/test-tiempos-text-semibold-italic.woff2') format('woff2');
      font-style: italic;
      font-weight: semibold;
    }
        .container {
          width: 100vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .text {
          font-family: Tiempos Text;
          font-size: 25px;
          color: antiquewhite;
          padding: 50px;
          margin-top: 0px;
          transition: 1s;
        }
.text:hover {
    color: seagreen;
    font-size: 35px;
}
        .slideshow-container {
            position: relative;
            max-width: 800px;
            height: 70%;
            width: 90%;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 10px 40px rgba(139,0,0,1);
        }

        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            animation: slideshow 30s infinite;
        }

        .slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        .text2 {
            font-family: Tiempos Text;
            width: 40%;
            height; 50px
            font-size: 20px;
            color: antiquewhite;
            padding: 50px;
            transition: 1s;
        }
        .text2:hover {
            font-size: 25px;
            color: darkred;
        }

        /* Delay each slide by 3 seconds (30s total / 10 images) */
        .slide:nth-child(1) { animation-delay: 0s; }
        .slide:nth-child(2) { animation-delay: 6s; }
        .slide:nth-child(3) { animation-delay: 9s; }
        .slide:nth-child(4) { animation-delay: 12s; }
        .slide:nth-child(5) { animation-delay: 15s; }
        .slide:nth-child(6) { animation-delay: 18s; }
        .slide:nth-child(7) { animation-delay: 21s; }
        .slide:nth-child(8) { animation-delay: 24s; }
        .slide:nth-child(9) { animation-delay: 27s; }
        .slide:nth-child(10) { animation-delay: 30s; }

        @keyframes slideshow {
            0% { opacity: 0; }
            10% { opacity: 1; }
            20% { opacity: 1; }
            30% { opacity: 0; }
            100% { opacity: 0; }
        }
@media screen and (max-width: 600px) {
.text {
font-size:15px;
color: darkslateblue;
width: 600px;
height: 30vh;
}} 

@media screen and (max-width: 600px) {
.text2 {
font-size:25px;
color: darkslateblue;
width: 600px;
height: 30vh;
}} 

@media screen and (max-width: 600px) {
.slideshow-container {
width:60%;
height: 35%;
}} 
@media screen and (max-width: 600px) {
.text:hover {
width:60%;
height: 35%;
font-size: 25px;
color: darkred;
@media screen and (max-width: 600px) {
.text2:hover {
width:60%;
height: 35%;
font-size: 25px;
color: darkred;
}} 